/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   top: 0; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }
 
 /**
   * 1. Make sure the dialog container and all its descendants sits on
   *    top of the rest of the page.
   * 2. Make the dialog container a flex container to easily center the
   *    dialog.
   */
 .dialog-container {
   z-index: 1000; /* 1 */
   display: flex; /* 2 */
 }
 
 /**
   * 1. Make sure the dialog container and all its descendants are not
   *    visible and not focusable when it is hidden.
   */
 .dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
   * 1. Make the overlay look like an overlay.
   */
 .dialog-overlay {
   background-color: rgb(43 46 56 / 0.6);
   animation: fade-in 200ms both;
 }
 
 /**
   * 1. Vertically and horizontally center the dialog in the page.
   * 2. Make sure the dialog sits on top of the overlay.
   * 3. Make sure the dialog has an opaque background.
   */
 .dialog-content {
   margin: auto; /* 1 */
   z-index: 2000; /* 2 */
   position: relative; /* 2 */
   background-color: white; /* 3 */
   color: var(--text-secondary);
 
   animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
   padding: 1em;
   max-width: 90%;
   width: 600px;
   border-radius: 5px;
 }
 
 @media screen and (min-width: 700px) {
   .dialog-content {
	 padding: 2em;
   }
 }
 
 @keyframes fade-in {
   from {
	 opacity: 0;
   }
 }
 
 @keyframes slide-up {
   from {
	 transform: translateY(10%);
   }
 }
 
 @media (prefers-reduced-motion: reduce) {
   .dialog-overlay,
   .dialog-content {
	 animation: none;
   }
 }
 
 .dialog-content {
 }

 ._popup_hidden {
  display: none;
  visibility: hidden;
 }
 
 .dialog-close {
   position: absolute;
   top: 0.5em;
   right: 0.5em;
   border: 0;
   padding: 0.25em;
   background-color: transparent;
   font-size: 1.5em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   cursor: pointer;
   transition: 0.15s;
   border-radius: 50%;
 }
 
 .dialog-close:hover {
   background-color: rgb(50 50 0 / 0.15);
 }
 
 @media screen and (min-width: 700px) {
   .dialog-close {
	 top: 1em;
	 right: 1em;
   }
 }


 .popup {
    text-align: center;

    @include breakpoint("sm") {
      text-align: start;
    }

    h4 {
      padding: 0.5em;
      color: var(--text-primary);
      border-radius: 8px;
    }

  // .popup_success
  &_success {
    h4 {
      background-color: green;
    }
  }
  // .popup_title
  &_title {
    font-weight: 600;
    margin: 0;
    font-size: 1.4em;
    @include adaptiveValue("font-size", 24, 18);
    margin-bottom: 0.6em;

  }
  // .popup_sub-title
  &_sub-title {
    margin: 0;
    @include adaptiveValue("font-size", 20, 16);
    margin-bottom: 0.6em;
  }
  // .popup_text
  &_text {
    margin: 0;
    font-size: toRem(16);
    padding-top: 0.8em;
    margin-bottom: 0.6em;

    text-align: center;
    text-wrap: pretty;

    a {
      display: block;
      text-align: center;
      padding-top: toRem(16);
      font-weight: 700;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: tomato;
      }
    }
  }
  // .popup_error
  &_error {
    h4 {
      background-color: tomato;
    }
  }
}

