.select {
    display: flex;
    align-items: center;
    gap: .7em;
    // .select__label
    &__label {
        font-size: 1.6em;
        font-weight: 400;
    }
    // .select__list
    &__list {
        padding: .5em 1em;
        border: 0;
        border-radius: .4em;
        background-color: #3815FF;
        color: #fff;
        font: inherit;
    }
    // .select__option
    &__option {
        padding: .5em .6em;
        font: inherit;
    }
}
