// Default colors 
// $--clr-red: rgb(255 59 48); 
// $--clr-orange: rgb(255 149 0); 
// $--clr-yellow: rgb(255 204 0); 
// $--clr-green: rgb(40 205 65); 
// $--clr-blue: rgb(0 122 255); 
// $--clr-indigo: rgb(88 86 214); 
// $--clr-pink: rgb(255 45 85); 
// $--clr-gray: rgb(142 142 147); 

:root {
	// Site colors:
	// =================================================================
	--primary: #0d0e13;
	// --primary: hsl(0, 33%, 1%); // to dark
	// --primary: hsl(0, 0%, 13%); // first

	// --secondary: rgb(255 255 255);
	--accent: hsl(49, 100%, 55%);

	// --accent: hsl(46, 93%, 67%);
	--inverse: hsl(0, 0%, 100%);

	// Background colors
	// =================================================================
	--bg-primary: var(--primary);
	--bg-secondary: var(--inverse);
	--bg-accent: var(--accent);
	--bg-footer: var(--inverse);
	// --bg-inverse: rgb(255 255 255); 

	// Text colors
	// =================================================================
	--text-primary: var(--inverse);
	--text-secondary:  var(--primary);
	--text-accent: var(--accent);
	// --text-inverse: rgb(0 0 0); 
	// =================================================================
}

