
// Grand ========================================================================================================================================================

@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Thin.woff") format('woff');
  font-weight: 100;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Light.woff") format('woff');
  font-weight: 300;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Regular.woff") format('woff');
  font-weight: 400;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Medium.woff") format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Heavy.woff") format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Black.woff") format('woff');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk";
  src: url("@fonts/Cy Grotesk Grand Dark.woff") format('woff');
  font-weight: 900;
  font-display: swap;
}
// Wide ========================================================================================================================================================

@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Thin.woff") format('woff');
  font-weight: 100;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Demi.woff") format('woff');
  font-weight: 200;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Regular.woff") format('woff');
  font-weight: 400;
	font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Medium.woff") format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Heavy.woff") format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Black.woff") format('woff');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Grotesk-Wide";
  src: url("@fonts/Cy Grotesk Wide Dark.woff") format('woff');
  font-weight: 900;
  font-display: swap;
}
